* {
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: solid 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #016858;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00a087;  
}


body {
    font-family: 'Roboto Slab', serif;
    background: url("../images/background.jpeg") no-repeat center top;

    
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#fff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    margin-bottom: 10px;
    position:relative;
}
header h2{
    font-size: 22px;
    margin: 0px auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

/* HTML5 Audio player with playlist styles */
.example {
    margin: 40px auto 0;
    width: 326px;
    top: 20px;
    position: relative;
}
.player {
    background: transparent url("../images/spr.png") no-repeat scroll center top;
    height: 158px;
    position: relative;
    width: 326px;
    z-index: 2;
}
.title, .artist {
    font-family: verdana;
    left: 195px;
    position: absolute;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
}
.artist {
    color: #EEEEEE;
    font-size: 12px;
    top: 40px;
}

.controls {
    cursor: pointer;
    height: 20px;
    left: 177px;
    position: absolute;
    top: 55px;
    width: 129px;
}
.controls .play, .controls .pause, .controls .rew, .controls .fwd {
    background: transparent url("../images/spr.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 33%;
}
.controls .play {
    background-position: -8px -171px;
}
.controls .pause {
    background-position: -8px -198px;
    display: none;
}
.controls .rew {
    background-position: -54px -171px;
}
.controls .fwd {
    background-position: -100px -171px;
}
.controls .play:hover {
    background-position: -8px -170px;
}
.controls .pause:hover {
    background-position: -8px -197px;
}
.controls .rew:hover {
    background-position: -54px -170px;
}
.controls .fwd:hover {
    background-position: -100px -170px;
}
.hidden {
    display: none;
}
.controls .visible {
    display: block;
}
.volume {
    height: 11px;
    left: 186px;
    position: absolute;
    top: 96px;
    width: 112px;
}
.tracker {
    height: 15px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 285px;
}
.ui-slider-range {
    background: transparent url(../images/spr.png) no-repeat scroll 5px -223px;
    height: 69%;
    position: absolute;
    top: 0;
    color: #FFF;
    text-align: center;
}
.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    width: 10px;
    z-index: 2;
    background: #d5d5d5;
    border-radius: 50%
}
.volume .ui-slider-handle {
    
    background: url("../images/spr.png") no-repeat scroll -198px -186px rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}
.playlist {
    background-color: #333333;
    border-radius: 5px 5px 5px 5px;
    list-style-type: decimal !important;
    margin: -10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 326px;
    z-index: 1;
    text-align: center;
    height: 400px;
    overflow-y: auto;
}
.playlist li {
    color: #EEEEEE;
    cursor: pointer;
    padding: 10px;
    text-align:center;
}
.playlist li.active {
    font-weight: bold;
    background-color:  #0d836d;
    box-shadow: 0px 1px 15px #aaaaaa;
}


.fixed-nav-bar {
    position: fixed;
    top: 0px;
    left: 0;
    width:100%;
    z-index: 100;
    height: auto;
    background-color: #00a087;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    padding-top: 10px;
    padding-bottom:10px;
    box-shadow: 0px 10px 10px #36776d;
    text-shadow: 0px 5px 15px #414141;
    display: none;
    line-height: 25px;
    font-size: 1.2em;
    letter-spacing: 1px;
  };

  .fixed-nav-bar-bottom {
    position: absolute !important;
    bottom: 0px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: #00a087;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #FFF;
    padding-top: 10px;
    padding-bottom:10px;
    box-shadow: 0px 10px 10px #36776d;
    text-shadow: 0px 5px 15px #414141;
    display: none;
    line-height: 25px;
    
  };

  .currTime{
      color:#FFF !important;
      font-weight:bold !important;
  }


  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid #0d836d;
    color: #ffffff;
    background-color: #0d836d;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-shadow: 0px 5px 15px #414141;
  }

  .btn:hover{
    border: 2px solid #0d836d;
    color: #FFF;
    background-color: #055345;
    font-weight: bolder;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  li:hover{
      background-color:#0d836d;
  }

  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: #0d836d;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid #0d836d;
    width: 100%;
    bottom: 0;
    position: fixed;
    left: 0;
    font-size: 1.2em !important;
    box-shadow: 0px -5px 10px #36776d;
    text-shadow: 0px 5px 15px #414141;
}


@media only screen and (max-width: 600px) {
    .playlist {
        height: 235px;
    }

    .fixed-nav-bar {
        font-size: 1em;
        letter-spacing: 0px;
        font-size:1em;
      };
}

input {
    line-height: normal;
    color: #FFF;
    font-weight: bold;
}